<html lang="en" class="w-screen h-screen">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css"/>
        <title>Dashboard</title>
    </head>

    <body class="flex flex-col justify-center mx-10 mt-10 xl:max-w-6xl xl:mx-auto">
        <header class="w-full p-3 flex flex-row justify-between items-center bg-blue-100 border-t-2 border-r-2 border-l-2 border-indigo-300 rounded-t-2xl">
            <nav class="w-full pl-5 pr-5 flex flex-row justify-between text-2xl">
                <div>
                    <a class="pl-2" href="#">Dashboard</a>
                    <a class="pl-2" href="/stats">Stats</a>
                </div>
                <div>
                    <a class="pl-2" href="/logout">Logout</a>
                </div>
            </nav>
        </header>
        <main class="w-full px-3 py-32 relative flex flex-row border-b-2 border-r-2 border-l-2 border-indigo-300 rounded-b-2xl" id="main_content">
            <section class="w-1/3 flex flex-row items-center justify-center">
                <object type="image/svg+xml" data="../fan.svg" class="fanSvg w-3/4 h-3/4"></object>
            </section>
            <section class="w-2/3 flex flex-col items-center my-auto">
                <div>
                    <label class="switch">
                        <input type="checkbox" id="toggleBtn">
                        <div class="slider round">
                            <span class="manual">Manual</span>
                            <span class="auto">Auto</span>
                        </div>
                    </label>
                </div>
                <div class="slidercontainer" id="sliderPressureContainer">
                    <div class="mb-2">Pressure</div>
                    <input type="range" min="0" max="120" class="sliderPressure" id="sliderPressure">
                    <div class="mt-1" id="displayPressure"></div>
                </div>
                <div class="slidercontainer" id="sliderSpeedContainer">
                    <div class="mb-2">Fan speed</div>
                    <input type="range" min="0" max="100" class="sliderSpeed" id="sliderSpeed">
                    <div class="mt-1" id="displaySpeed"></div>
                </div>
                <div class="">
                    <p class="text-left" id="pressure"></p>
                    <p class="text-left" id="speed"></p>
                </div>
            </section>
        </main>
        <h1 class="mx-auto mt-2">By Alex, Dan and Pavel</h1>
    </body>
    <script>
        document.getElementById("sliderPressure").value = <%= stats.setpoint %>;
        document.getElementById("displayPressure").innerHTML = <%= stats.setpoint %> + "Pa"

        document.getElementById("sliderSpeed").value = <%= stats.speed %>;
        document.getElementById("displaySpeed").innerHTML = <%= stats.speed %> + "%"

        document.getElementById("speed").innerHTML = "Current fan speed: " + <%= stats.speed %> + "%"
        document.getElementById("pressure").innerHTML = "Current presssure: " + <%= stats.pressure %> + "Pa"

        let pressure_container = document.getElementById("sliderPressureContainer");
        let speed_container = document.getElementById("sliderSpeedContainer");
        if (<%= stats.mode %>) {
            document.getElementById("speed").hidden = false

            document.getElementById("toggleBtn").checked = true
            pressure_container.hidden = false;
            speed_container.hidden = true;
        }
        else {
            document.getElementById("speed").hidden = true

            document.getElementById("toggleBtn").checked = false
            pressure_container.hidden = true;
            speed_container.hidden = false;
        }
    </script>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"
    integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj"
    crossorigin="anonymous">
    </script>
    <script src="js/anime.min.js"></script>
    <script src="js/sockets.js"></script>
    <script src="js/handler.js"></script>
</html>